@using Themenschaedel.Web.Services.Interfaces
@using Themenschaedel.Shared.Props

@switch (isClaimed)
{
    case EpisodeClaimStatus.claimed:
        <div class="tag purple">
            Claimed
        </div>
        break;
    case EpisodeClaimStatus.not_claimed:
        <div class="tag purple">
            Free to Claim
        </div>
        break;
    case EpisodeClaimStatus.done:
        <div class="tag">
            Done
        </div>
        break;
}

@code {
    //ToDo: Add logic to this class (aka, get the data from the api)

    public enum EpisodeClaimStatus { not_claimed, claimed, done }
    
    [Parameter]
    public int episodeId { get; set; }
    
    [Parameter]
    public EventCallback<EpisodeClaimStatus> ClaimStatusCallback { get; set; }

    [Inject]
    protected IData _data { get; set; }

    protected EpisodeClaimStatus isClaimed = EpisodeClaimStatus.not_claimed;
    
    protected override async Task OnInitializedAsync()
    {
        Episode ep = await _data.GetEpisode(episodeId);
        if (ep.claimed)
        {
            isClaimed = EpisodeClaimStatus.claimed;
        }
        else if (ep.topics.Count > 0)
        {
            isClaimed = EpisodeClaimStatus.done;
        }
        else
        {
            isClaimed = EpisodeClaimStatus.not_claimed;
        }
        
        await ClaimStatusCallback.InvokeAsync(isClaimed);
    }

}