@using Themenschaedel.Web.Services.Interfaces
@using Themenschaedel.Shared.Props
@using System.ComponentModel.DataAnnotations

@switch (ClaimStatus)
{
    case EpisodeClaimStatus.claimed:
        @if (StatusStyle == Style.Transparent)
        {
            <div class="transparent-tag purple">
                Claimed
            </div>
        }
        else
        {
            <div class="tag purple">
                Claimed
            </div>
        }
        break;
    case EpisodeClaimStatus.not_claimed:
        @if (StatusStyle == Style.Transparent)
        {
            <div class="transparent-tag purple">
                Free to Claim
            </div>
        }
        else
        {
            <div class="tag purple">
                Free to Claim
            </div>
        }
        break;
    case EpisodeClaimStatus.done:
        @if (StatusStyle == Style.Transparent)
        {
            <div class="transparent-tag red">
                Done
            </div>
        }
        else
        {
            <div class="tag red">
                Done
            </div>
        }

        break;
}

@code {

    public enum Style
    {
        Default,
        Transparent
    }

    [Parameter]
    [Required]
    public EpisodeClaimStatus ClaimStatus { get; set; }

    [Parameter]
    public Style StatusStyle { get; set; } = Style.Default;

}