@using Themenschaedel.Shared.Models
@using Humanizer
@inherits Themenschaedel.Components.EpisodeCollection

<div class="videos">
    @foreach (EpisodeClient item in Episodes)
    {
        <EpisodeCard item="@item" LastSeenEpisodeNumber="LastSeenEpisodeNumber" />
    }

    
    @if (StopLoading)
    {
    }
    @if (IsLoading)
    {
        <SkeletonCard />
        <SkeletonCard />
        <SkeletonCard />
        <SkeletonCard />
        <SkeletonCard />
        <SkeletonCard />
        <SkeletonCard />
    }
    <div id="list-end">
        
    </div>

</div>
